<h3>Sign In Page</h3>

<form action="/session" method="post">
  <%= auth %>

  <label>username
    <input type="text" name="user[username]">
  </label>

  <label>password
    <input type="password" name="user[password]">
  </label>

  <p><input type="submit" value="Sign Me In"></p>
</form>