<h3>Sign Up</h3>

<form action="/users" method="post">
  <%= auth %>

  <label>username
    <input type="text" name="user[username]">
  </label>

  <label>password
    <input type="password" name="user[password]">
  </label>

  <p><input type="submit" value="Create New User"></p>
</form>