<h3>Edit Goal</h3>

<form action="<%= goal_url(@goal) %>" method="post">
  <%= auth %>
  <input type="hidden" name="_method" value="put">

  <label>Goal Name
    <input type="text" name="goal[goal_name]" value="<%= @goal.goal_name %>">
  </label>

  <input type="radio" name="goal[visibility]" value="true" id="Private" <%= "checked" if @goal.visibility %>>
  <label>Private</label>

  <input type="radio" name="goal[visibility]" value="false" id="Public" <%= "checked" unless @goal.visibility %>>
  <label>Public</label>

  <input type="radio" name="goal[progress]" value="true" <%= "checked" if @goal.progress %>>
  <label>Completed</label>

  <input type="radio" name="goal[progress]" value="false" <%= "checked" unless @goal.progress %>>
  <label>Not Completed</label>

  <p><input type="submit" value="Update the goal"></p>
</form>