<h3>Create Goal</h3>

<form action="/goals" method="post">
  <%= auth %>

  <label>Goal Name
    <input type="text" name="goal[goal_name]">
  </label>

  <input type="radio" name="goal[visibility]" value="true" id="Private">
  <label>Private</label>

  <input type="radio" name="goal[visibility]" value="false" id="Public">
  <label>Public</label>

  <p><input type="submit" value="Create new goal"></p>
</form>