<h3><%= @goal.goal_name %></h3>

<p>
  Type: <%= @goal.visibility %><br>
  Completed?: <%= @goal.progress %>
</p>

<%= link_to "Edit Goal", edit_goal_url %><br>
<%= button_to "Delete Goal", goal_url(@goal), :method => "delete" %>