<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>

  <strong>Signed In as: <%= current_user.username %></strong><br>
  <% if current_user.admin %>
    Admin
  <% end %>
  <%= button_to "Sign Out", session_url, method: "delete" %>

<% else %>

  <%= link_to "Sign Up", new_user_url %>
  <%= link_to "Sign In", new_session_url %>

<% end %>

<br><hr><br>

<%= flash[:errors] && flash[:errors].join("<br>").html_safe %>

<%= yield %>

</body>
</html>
